<div id="<%= dom_id cliente %>">
  <p>
    <strong>Person name:</strong>
    <%= cliente.person_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= cliente.address %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= cliente.neighborhood %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= cliente.zipcode %>
  </p>

  <p>
    <strong>City name:</strong>
    <%= cliente.city_name %>
  </p>

</div>
