<%= form_for @cliente do |form| %>
  <% if @cliente.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="form-group">
      <%= form.label :person_name, 'Person Name:', style: "display: block" %>
      <div class="col-md-8 col-sm-10">
        <%= form.text_field :person_name, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :cnpj_cpf, 'CNPJ/CPF:', style: "display: block" %>
      <div class="col-md-8 col-sm-8">
        <%= form.text_field :cnpj_cpf, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :phone_number, 'Phone Number:', style: "display: block" %>
      <div class="col-md-8 col-sm-8">
        <%= form.text_field :phone_number, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :state, 'State:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :state, required: true, class: 'form-control' %>
    </div>
  </div>  
  
  <div class="form-group">
    <%= form.label :person_type, 'Person Type:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :person_type, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address, 'Address:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :address, required: true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :address_number, 'Address Number:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :address_number, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :neighborhood, 'Neighborhood:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :neighborhood, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :zipcode, 'Zip Code:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :zipcode, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :city_name, 'City Name:', style: "display: block" %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field :city_name, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
 
<% end %>
  
    
    
