<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :person_name, style: "display: block" %>
    <%= form.text_field :person_name %>
  </div>
  
  <div>
    <%= form.label :cnpj_cpf, style: "display: block" %>
    <%= form.text_field :cnpj_cpf %>
  </div>
  
  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>
  
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  
  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>
  
  <div>
    <%= form.label :person_type, style: "display: block" %>
    <%= form.text_field :person_type %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  
  <div>
    <%= form.label :address_number, style: "display: block" %>
    <%= form.text_field :address_number %>
  </div>

  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>

  <div>
    <%= form.label :zipcode, style: "display: block" %>
    <%= form.text_field :zipcode %>
  </div>

  <div>
    <%= form.label :city_name, style: "display: block" %>
    <%= form.text_field :city_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
