<div id="<%= dom_id boleto %>">
  <p>
    <strong>Amount:</strong>
    <%= boleto.amount %>
  </p>

  <p>
    <strong>Expire at:</strong>
    <%= boleto.expire_at %>
  </p>

  <p>
    <strong>Bank billet account:</strong>
    <%= boleto.bank_billet_account_id %>
  </p>

  <p>
    <strong>Bank billet layout:</strong>
    <%= boleto.bank_billet_layout_id %>
  </p>

</div>
