<%= form_with(model: boleto) do |form| %>
  <% if boleto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(boleto.errors.count, "error") %> prohibited this boleto from being saved:</h2>

      <ul>
        <% boleto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :expire_at, style: "display: block" %>
    <%= form.date_field :expire_at %>
  </div>

  <div>
    <%= form.label :bank_billet_account_id, style: "display: block" %>
    <%= form.number_field :bank_billet_account_id %>
  </div>

  <div>
    <%= form.label :bank_billet_layout_id, style: "display: block" %>
    <%= form.number_field :bank_billet_layout_id %>
  </div>

  <div>
    <%= form.label :cliente_id, "Selecione um cliente:" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :person_name, prompt: "Selecione um cliente" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
